*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    background-color: rgb(233, 193, 89);
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.logo{
    box-shadow: 0px 0px 2px 2px rgb(54, 3, 3);
    border-radius: 50%;
    background-color: rgb(54, 3, 3);
}
.text{
    font-style: italic;
   margin: auto;
   text-align: center;
   color: rgb(54, 3, 3);
}
.text p{

    font-size: 20px;
    font-weight: 800;
}
@media(max-width: 420px) {
    .text p{font-size: 15px;}
}
.hero-sect{
    background-color: rgb(54, 3, 3);
    padding: 10px;
}
.form{
    background-color: rgb(233, 193, 89);
    
}
.form h1{
    color: rgb(54, 3, 3);
    font-style: italic;
    padding-bottom: 10px;
}
.form h3{
       color: rgb(54, 3, 3);
    font-style: italic;
    padding-bottom: 5px;
}
.form h4{
       color: rgb(54, 3, 3);
    font-style: italic;
    padding-bottom: 10px;
}
.form label{
    color: rgb(54, 3, 3);
    font-style: italic;

}
footer {
  background-color: rgb(233, 192, 89);
  color: white;
  text-align: center;
  padding: 30px 10px;
}
.footer-content h3,
p {
  margin: 0;
  color: rgb(54, 3, 3);
  font-size: 1.5em;
  font-style: italic;
}
.socials {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socials a {
  color: rgb(54, 3, 3);
  font-size: 1.3em;
}
.socials a:hover {
  transform: scale(1.2);
  color: #3f2d03;
}
.footer-bottom {
  font-size: 0.9em;
  margin-top: 10px;
  color: rgb(54, 3, 3);
}
@media (max-width: 430px) {
  .footer-content h3 {
    font-size: 1.3em;
  }
  .footer-content p {
    font-size: 1.1em;
  }
  .footer-bottom{
    font-size: 0.7em;
  
}
}